.formSuperContainer {
    width: 100%;
    height: 100%;
}

.formContainer {
    background: var(--white);
    box-shadow: 0 4px 16px rgba(121, 125, 129, 0.25);
    width: 30%;
    margin: 30px 0;
    padding: 30px;
    margin-inline: auto;
}

.formSubElements {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.buttonContainer {
    display: flex;
    justify-content: end;
}

.formButton {
    padding: .875rem 2rem;
    background: var(--th-secondary);
    border-radius: .8571428571rem;
    color: var(--white);
    font-family: "Font-Regular";
    cursor: pointer;
}

.formTitleText {
    color: var(--font-black);
    font-size: 1.5em;
    line-height: 1.875rem;
    margin-bottom: 1.5rem;
    font-family: "Font-Regular";

}

.formLabel {
    height: 1.5714285714rem;
    color: var(--dark-grey-2);
    font-family: "Font-Light";
    font-size: 1em;
}

.formInput {
    border-radius: .75rem;
    font-size: 1rem;
    padding: .6875rem 2.5rem;
    border: 1px solid var(--dark-grey-5);
    background-color: #fff;
    font-family: "Font-Light";
    color: var(--dark-grey-1);
    font-size: 0.85em;
    resize: vertical;
    outline: none;
}

.formInput:focus {
    border: 1px solid var(--secondary-6);
    box-shadow: none;
    filter: drop-shadow(0 0 4px var(--secondary-6))
}

.formUpload {
    text-align: center;
    font-family: Font-Light;
    padding: .6875rem 2.5rem;
    border: 1px solid var(--dark-grey-5);
    color: white;
    background-color: var(--th-Primary-3);
    border-radius: .75rem;
}

.formUpload::file-selector-button {
    border-radius: .35rem;
    font-family: Font-Light;
    background-color: #fff;;

}

.formTermsAgreement {
    display: flex;
    gap: 10px;
    font-size: 0.92em;
    margin: 20px 0;
    color: var(--black);
    font-family: "Font-Light";
}

@font-face {
    font-family: "Font-Light";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PingAR_LT_Light.otf") format("opentype");
}

@font-face {
    font-family: "Font-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PingAR_LT_Medium.otf") format("opentype");
}