
.introductionRootContainer {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.introductionRootContainer:lang(en) {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.detailsTitleContainer:lang(ar) {
    display: flex;
    align-items: center;
    margin-right: 382px;
}

.detailsTitleContainer:lang(en) {
    display: flex;
    align-items: center;
    margin-left: 382px;
}

.detailsSvgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .625rem;
    height: 40px;
    width: 40px;
    background-color: rgba(var(--th-Primary-1-rgb), 0.1);
    margin: 10px 5px;
}

.detailsTitleText {
    font-size: 1.125rem;
    color: var(--font-black);
    font-family: "Font-Regular";
    font-weight: 400;
    line-height: 1.5;
}

.introTitleContainer:lang(ar) {
    display: flex;
    align-items: center;
    margin: 10px 430px 10px 10px;
}

.introTitleContainer:lang(en) {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 430px;
}

.introductionText:lang(ar) {
    font-size: 1rem;
    font-family: "Font-Light";
    word-wrap: break-word;
    direction: rtl;
    color: #212529;
    line-height: 1.5;
    margin-right: 450px;
    max-width: 100ch;

}

.introductionText:lang(en) {
    font-size: 1rem;
    font-family: "Font-Light";
    word-wrap: break-word;
    color: #212529;
    line-height: 1.5;
    margin-left: 450px;
    max-width: 100ch;

}

@font-face {
    font-family: "Font-Light";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PingAR_LT_Light.otf") format("opentype");
}

@font-face {
    font-family: "Font-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PingAR_LT_Medium.otf") format("opentype");
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -1;
    margin-top: 50px;
}

.outerfooter {
    display: flex;
    background-color: var(--dark-grey-8);
    height: 70px;
    width: 100%;
    color: var(--white);
    align-items: center;
    justify-content: center;
    font-size: 1.1428571429rem;
    font-family: "Font-Light";

}

.innerfooter {
    display: flex;
    background: var(--th-Primary);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 320px ) and (max-width: 374px) {
    :lang(ar).detailsTitleContainer {
        margin-right: 5px;
    }

    :lang(ar).introTitleContainer {
        margin-right: 15px;
    }

    :lang(ar).introductionText {
        margin-right: 25px;
        max-width: 28ch;
    }

    :lang(ar) .outerfooter {
        font-size: 0.85rem;
    }

    :lang(en).detailsTitleContainer {
        margin-left: 5px;
    }

    :lang(en).introTitleContainer {
        margin-left: 15px;
    }

    :lang(en).introductionText {
        margin-left: 25px;
        max-width: 28ch;
    }

    :lang(en) .outerfooter {
        font-size: 0.85rem;
    }
}

@media (min-width: 375px ) and (max-width: 424px) {
    :lang(ar).detailsTitleContainer {
        margin-right: 10px;
    }

    :lang(ar).introTitleContainer {
        margin-right: 20px;
    }

    :lang(ar).introductionText {
        margin-right: 30px;
        max-width: 33ch;
    }

    :lang(ar).outerfooter {
        font-size: 0.98rem;
    }

    :lang(en).detailsTitleContainer {
        margin-left: 5px;
    }

    :lang(en).introTitleContainer {
        margin-left: 20px;
    }

    :lang(en).introductionText {
        margin-left: 30px;
        max-width: 33ch;
    }

    :lang(en) .outerfooter {
        font-size: 0.85rem;
    }
}

@media (min-width: 425px ) and (max-width: 767px) {
    :lang(ar).detailsTitleContainer {
        margin-right: 17px;
    }

    :lang(ar).introTitleContainer {
        margin-right: 27px;
    }

    :lang(ar).introductionText {
        margin-right: 37px;
        max-width: 33ch;
    }

    :lang(ar).outerfooter {
        font-size: 0.98rem;
    }

    :lang(en).detailsTitleContainer {
        margin-left: 17px;
    }

    :lang(en).introTitleContainer {
        margin-left: 27px;
    }

    :lang(en).introductionText {
        margin-left: 47px;
        max-width: 37ch;
    }

    :lang(en) .outerfooter {
        font-size: 0.85rem;
    }
}

@media (min-width: 768px ) and (max-width: 1023px) {
    :lang(ar).detailsTitleContainer {
        margin-right: 35px;
    }

    :lang(ar).introTitleContainer {
        margin-right: 45px;
    }

    :lang(ar).introductionText {
        margin-right: 55px;
        max-width: 75ch;

    }

    :lang(en).detailsTitleContainer {
        margin-left: 35px;
    }

    :lang(en).introTitleContainer {
        margin-left: 45px
    }

    :lang(en).introductionText {
        margin-left: 55px;
        max-width: 75ch;
    }

    :lang(en) .outerfooter {
        font-size: 0.85rem;
    }
}

@media (min-width: 1024px ) and (max-width: 1438px) {
    :lang(ar).detailsTitleContainer {
        margin-right: 32px;
    }

    :lang(ar).introTitleContainer {
        margin-right: 60px;
    }

    :lang(ar).introductionText {
        margin-right: 80px;
        max-width: 90ch;

    }

    :lang(en).detailsTitleContainer {
        margin-left: 32px;
    }

    :lang(en).introTitleContainer {
        margin-left: 60px;
    }

    :lang(en).introductionText {
        margin-left: 80px;
        max-width: 90ch;
    }

    :lang(en) .outerfooter {
        font-size: 0.85rem;
    }

}

@media (min-width: 1440px ) and (max-width: 1890px) {
    :lang(ar).detailsTitleContainer {
        margin-right: 290px;
    }

    :lang(ar).introTitleContainer {
        margin-right: 305px;
    }

    :lang(ar).introductionText {
        margin-right: 325px;
        max-width: 90ch;

    }
}