.headerArticleSuperConatiner:lang(ar) {
    background-color: var(--white);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.headerArticle:lang(ar) {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
}

.headerArticleSuperConatiner:lang(en) {
    background-color: var(--white);
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.headerArticle:lang(en) {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.headerArticleContainer:lang(en) {
    display: flex;
    align-items: center;
    width: 60%;
}

.headerArticleContainer:lang(ar) {
    display: flex;
    align-items: center;
    width: 39%;
}

.card {
    background-color: rgba(var(--secondary-1-rgb), 0.1);
    display: flex;
    flex-direction: column;
    height: 4.6428571429rem;
    width: 90px;
    border-bottom: .625rem solid var(--secondary-7);
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
}

.day {
    color: var(--secondary-7);
    font-size: 2.75rem;
    font-family: "Font-Regular";
    line-height: 0.6;
}

.month {
    color: var(--secondary-7);
    font-family: "Font-Light";
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.125rem;
}

.title {
    font-family: "Font-Regular";
    color: var(--font-black);
    margin: 0 1.1428571429rem;
    font-size: 1.5rem;
    font-weight: 500;
    flex: 0.5;
    max-width: 40ch;

}

.dateContainer {
    display: flex;
    margin: 20px 5px;
}

.dateSvgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .625rem;
    height: 40px;
    width: 40px;
    background-color: rgba(var(--th-Primary-1-rgb), 0.1);
    margin-left: 5px;
}

.dateSvgContainer:lang(en) {
    margin: 0 20px 0 0;
}

.dateSvg {
    width: 20px;
    height: 20px;
}

.dateTextContainer {
    color: var(--font-black);
    line-height: 1.5;
    font-size: 1.125rem;
    white-space: nowrap;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-right: 5px;
}

.dateFrom,
.dateTo {
    display: flex;
    gap: 5px;
    font-family: "Font-Light";
}

.from,
.to {
    font-family: "Font-Regular";
    width: 2.1428571429rem;
}

.location {
    display: flex;
    flex-direction: column;
}

.cityInfoContainer {
    display: flex;
    gap: 10px;
    align-items: center;

}

.citySvgConatiner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .625rem;
    height: 40px;
    width: 40px;
    background-color: rgba(var(--th-Primary-1-rgb), 0.1);
    margin: 10px 5px;
}

.cityTitleText {
    font-size: 1.125rem;
    font-family: "Font-Regular";
    color: #052976;
    opacity: .8;
    font-weight: 400;
    line-height: 1.5;
}

.cityNameText {
    color: var(--font-black);
    font-family: "Font-Light";
    margin-right: 4em;
    margin-bottom: .5714285714rem;
    border-radius: .5714285714rem;
    width: 30px;
    text-align: center;
    height: 25px;
    background-color: var(--dark-grey-5);
}

.cityNameText:lang(en) {
    margin-left: 4em;
    width: 50px;
}

.headerArticleImage:lang(ar) {
    position: absolute;
    top: 125px;
    left: 550px;
    border-radius: 0.5em;
}


.headerArticleImage:lang(en) {
    position: absolute;
    top: 115px;
    right: 300px;
    border-radius: 0.5em;
}

@font-face {
    font-family: "Font-Light";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PingAR_LT_Light.otf") format("opentype");
}

@font-face {
    font-family: "Font-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PingAR_LT_Medium.otf") format("opentype");
}

@media (min-width: 320px ) and (max-width: 374px) {
    :lang(ar) .headerArticleSuperConatiner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    :lang(ar) .headerArticle {
        margin-right: 5px;
    }

    :lang(ar) .title {
        width: 210px;
        text-align: right;
    }

    :lang(ar) .day {
        width: 80px;
    }

    :lang(ar) .headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 305px;
        height: 240px;
        margin-bottom: 20px;
    }

    :lang(en) .headerArticleSuperConatiner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        align-items: start;
    }

    :lang(en) .headerArticle {
        margin-right: 5px;
    }

    :lang(en) .title {
        width: 210px;
        text-align: left;
    }

    :lang(en) .day {
        width: 80px;
    }

    :lang(en) .headerArticleImage {
        position: relative;
        left: 6px;
        top: 20px;
        width: 305px;
        height: 240px;
        margin-bottom: 20px;
    }

    :lang(en) .card {
        margin-left: 5px;
    }

    .dateContainer {
        width: 300px;
    }
}

@media (min-width: 375px ) and (max-width: 424px) {
    :lang(ar) .headerArticleSuperConatiner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    :lang(ar).headerArticle {
        margin-right: 10px;
        width: 350px;
        height: 500px;
    }

    :lang(ar).title {
        width: 210px;
        text-align: right;
    }

    :lang(ar).day {
        width: 80px;
    }

    :lang(ar).headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 340px;
        height: 320px;
        margin-bottom: 20px;
    }

    :lang(en) .headerArticleSuperConatiner {
        width: 100%;
        height: 540px;
        justify-content: start;
        overflow: hidden;
    }

    :lang(en).headerArticle {
        margin-right: 30px;
        width: 350px;
        height: 530px;
    }

    :lang(en).title {
        width: 210px;
        text-align: left;
    }

    :lang(en).day {
        width: 80px;
    }

    :lang(en).headerArticleImage {
        position: relative;
        left: 15px;
        top: 20px;
        width: 350px;
        height: 320px;
        margin-bottom: 20px;
    }

    :lang(en) .card {
        margin-left: 15px;
    }
}

@media (min-width: 425px ) and (max-width: 767px) {
    :lang(ar) .headerArticleSuperConatiner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    :lang(ar).headerArticle {
        width: 390px;
        height: 550px;
    }

    :lang(ar).title {
        width: 210px;
        text-align: right;
    }

    :lang(ar).day {
        width: 80px;
    }

    :lang(ar).headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 380px;
        height: 380px;
        margin-bottom: 20px;
    }

    :lang(en) .headerArticleSuperConatiner {
        width: 100%;
        height: 570px;
        justify-content: start;
        overflow: hidden;
    }

    :lang(en).headerArticle {
        width: 390px;
        height: 550px;
    }

    :lang(en).title {
        width: 210px;
        text-align: left;
    }

    :lang(en).day {
        width: 80px;
    }

    :lang(en).headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 400px;
        height: 380px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px ) and (max-width: 1023px) {
    :lang(ar) .headerArticleSuperConatiner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    :lang(ar).headerArticle {
        width: 700px;
        height: 750px;
        margin-right: 35px;

    }

    :lang(ar).title {
        width: 400px;
        text-align: right;
    }

    :lang(ar).day {
        width: 80px;
    }

    :lang(ar).headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 690px;
        height: 500px;
        margin-bottom: 20px;
    }

    :lang(en) .headerArticleSuperConatiner {
        width: 100%;
        height: 750px;
        justify-content: start;
        overflow: hidden;
    }

    :lang(en).headerArticle {
        width: 700px;
        height: 750px;
    }

    :lang(en).title {
        width: 600px;
        text-align: left;
    }

    :lang(en).day {
        width: 80px;
    }

    :lang(en).headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 720px;
        height: 500px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px ) and (max-width: 1438px) {
    :lang(ar).headerArticle {
        width: 960px;
        height: 800px;
        margin-bottom: 5px;
    }

    :lang(ar).title {
        width: 400px;
        text-align: right;
    }

    .day {
        width: 80px;
    }

    .headerArticleImage {
        position: relative;
        right: 470px;
        top: 20px;
        width: 460px;
        height: 270px;
        margin-bottom: 20px;
    }

    :lang(en) .headerArticleSuperConatiner {
        width: 100%;
        height: 900px;
        justify-content: start;
        overflow: hidden;
    }

    :lang(en).headerArticle {
        width: 960px;
        height: 800px;
    }

    :lang(en).title {
        width: 600px;
        text-align: left;
    }

    :lang(en).day {
        width: 80px;
    }

    :lang(en).headerArticleImage {
        position: relative;
        left: -5px;
        top: 20px;
        width: 980px;
        height: 600px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1440px ) and (max-width: 1890px) {
    :lang(ar) .headerArticleSuperConatiner {
        width: 100%;
        height: 340px;
        margin-bottom: 5px;
    }

    :lang(ar).title {
        width: 400px;
        text-align: right;
    }

    .day {
        width: 80px;
    }

    .headerArticleImage {
        position: relative;
        right: 800px;
        width: 560px;
        height: 300px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1891px ) {
    :lang(ar) .headerArticleSuperConatiner {
        width: 100%;
        height: 300px;
        margin-bottom: 5px;
    }


    :lang(ar).title {
        width: 400px;
        text-align: right;
    }

    .day {
        width: 80px;
    }

    .headerArticleImage {
        position: relative;
        margin-bottom: 20px;
    }

    :lang(en) .card {
        width: 80px;
    }
}